.track-container {
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Colors */
.pink-surfboard {

}
.green-surfboard {
    background-color: #43a047;
}
.purple-surfboard {
    background-color: #1e88e5;
}
.teal-surfboard {
    background-color: #8e24aa;
}
