.surfboard-container {
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Colors */
.pink-surfboard {
    text-align: center;
    text
}
.green-surfboard {
    background-color: #43a047;
}
.purple-surfboard {
    background-color: #1e88e5;
}
.teal-surfboard {
    background-color: #8e24aa;
}

.overlay-text {
    position: absolute; /* Position text over the image */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* center */
    color: rgb(174, 124, 58);
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    text-align: center;
    
    padding: 10px;
    filter: drop-shadow(-6px 8px 4px rgba(0, 0, 0, 0.1));

}